*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 509px;
    height: 644px;
    border-radius: 32px;
    background-color: #D9D9D9;
    filter: drop-shadow(0px 4px 4px #C4C4C4);
}

.input-container{
    padding-top: 60px;
}

#input{
    border: none;
    width: 420px;
    height: 70px;
    border-radius: 8px;
    box-shadow: inset 0px 4px 6px #C4C4C4;
    font-size: 40px;
    text-align: right;
}

.btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    width: 409px;
    height: 544px;
    gap: 20px;
}

.btn{
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 12px;
    border: none;
    background-color: #ffffff;
    filter: drop-shadow(0px 5px 5px #C4C4C4);
}

.btn:active,
.equal:active,
.divide:active,
.multiply:active,
.add:active,
.subract:active,
.clear:active {
    filter: drop-shadow(0px 0px 0px #C4C4C4);
}

.equal, .divide, .multiply,
.add, .subract{
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 12px;
    border: none;
    background-color: #F4F4F4;
    filter: drop-shadow(0px 5px 5px #C4C4C4);
}


.clear{
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-radius: 12px;
    border: none;
    background-color: #F4F4F4;
    filter: drop-shadow(0px 5px 5px #C4C4C4);
}

.btns-container{
    display: flex;
    gap: 20px;
}

